.App {
  text-align: center;
  margin: 100px;
}

.notification {
  color: white;
  margin: 20px;
  padding: 20px;
  text-align: left;
  max-width: 300px;
  border-radius: 20px;
  position: relative;
}

.notification h2 {
  font-size: 18px;  
  margin: 0 0 10px 0;
}

.notification p {
  margin: 0;  
}

.notification .closebutton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
  background-color: rgba(255,255,255,0.3);
}

.notification .closebutton:hover {
  background-color: rgba(255,255,255,0.7);
}

.error {
  background-color: lightcoral;
}

.info {
  background-color: lightskyblue;
}

.success {
  background-color: lightgreen;
}