.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}


.page {
  width: 100%;
  min-height: 300px;
  background-color: antiquewhite;
  padding: 20px;
}

nav ul {
  display: flex;
  align-items: center;
  background-color: bisque;
  flex-direction: row;
}

nav li {
  list-style: none;
  padding: 20px;
}

nav li:hover {
  background-color: blanchedalmond;
}

nav li a {
  text-decoration: none;
  color: black;
}